[submodule "submodules/uACPI"]
	path = submodules/uACPI
	url = https://github.com/UltraOS/uACPI.git
[submodule "kernel/src/extern/flanterm"]
	path = submodules/flanterm
	url = https://codeberg.org/mintsuki/flanterm
